# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.log

# Node / frontend
node_modules/

# Docker
*.pid
*.env
certbot/www/
certbot/conf/accounts/
certbot/conf/archive/

# IDEs / editors
.vscode/
.idea/
.DS_Store


