# Ignore environment variable files
.env

# Ignore Python bytecode cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore Node.js dependencies and build directories
node_modules/
dist/
build/

# Ignore Docker PID files and Certbot directories
*.pid
certbot/www/
certbot/conf/accounts/
certbot/conf/archive/

# Ignore IDE/editor configuration directories
.vscode/
.idea/

# Ignore system files
.DS_Store

# Ignore temporary or swap files
*.swp
*.tmp

# Ignore Node.js debug or log files
npm-debug.log*
