# Ignore environment variable files
.env

# Ignore Python bytecode cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore Node.js dependencies and build directories
node_modules/
dist/
build/

# Ignore Docker PID files and Certbot directories
*.pid
certbot/www/
certbot/conf/accounts/
certbot/conf/archive/
certbot/conf/live/
certbot/conf/renewal/

# Ignore IDE/editor configuration directories
.vscode/
.idea/

# Ignore system files
.DS_Store

# Ignore temporary or swap files
*.swp
*.tmp

# Ignore Node.js debug or log files
npm-debug.log*

# Google Analytics API key
ga-key.json
certbot/conf/renewal/freeunitsconverter.com.conf

# -----------------------
# Static pages
# -----------------------

# Ignore everything under static-pages
/frontend/static-pages/**

# Keep .gitkeep
!/frontend/static-pages/.gitkeep

# Keep all conversionguide.html files
!/frontend/static-pages/**/conversionguide.html

# Keep parent folders for category hubs
!/frontend/static-pages/length/
!/frontend/static-pages/temperature/
!/frontend/static-pages/volume/
!/frontend/static-pages/weight/

# Keep the index.html files inside those folders
!/frontend/static-pages/length/index.html
!/frontend/static-pages/temperature/index.html
!/frontend/static-pages/volume/index.html
!/frontend/static-pages/weight/index.html

# -----------------------
# SEO audit pages
# -----------------------
/seo_audit/static-pages/**
/frontend/sitemap.xml
